{%  extends 'main.html' %}

{% block title %} Store {% endblock %}
{%  load static %}
{% block content %}
<br>
    <br>
<div class="row">
    
    <div class="col-lg-4">
        <img class="thumbnail" src="{%  static 'images/1.png' %}" alt="">
        <div class="box-element product">
            
            <h5><strong>Product</strong></h5>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add To Cart</button>
            <a class="btn btn-outline-success" href="">View</a>
            <h4 style="display: inline-block;float:right ">$20</h4>
        </div>
    </div>
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/2.png' %}" alt="">
        <div class="box-element product">
            <h6><strong>product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add To Cart</button>
            <a class="btn btn-outline-success" href="">View</a>
            <h4 style="display: inline-block;float:right ">$20</h4>
        </div>
    </div>
    <div class="col-lg-4">
        <img class="thumbnail" src="{%  static 'images/4.jpeg' %}" alt="">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add To Cart</button>
            <a class="btn btn-outline-success" href="">View</a>
            <h4 style="display: inline-block;float:right ">$20</h4>
        </div>
    </div>
</div>
{%  endblock %}